a{
    outline: none !important;
}

.chosen-container-single .chosen-single {
  border-radius: 3px;
  line-height: 31px;
  margin-top: -2px;
}

.chosen-rtl.chosen-container-single .chosen-single div b {

    background-position: 6px 5px;
}

.panel-body .panel {
    border: 1px solid #ccc;
    padding: 7px;
}
a
.input-group-addon {
    border: 1px solid #e5e6e7 !important;
    border-radius: 0 !important;
}

.paging_simple_numbers{
    text-align: left
}

.search_form {
    margin-top: 30px;
}

td.center > a {
    margin: 0 6px;
}

.panel-footer{
    overflow: hidden;
}



.media_rows {
}

.media_rows .media_row {
    border: 1px solid #dddddd;
    border-radius: 2px;
    float: right;
    height: 127px;
    margin: 4px 5px;
    padding: 3px;
    position: relative;
    width: 141px;
}

.media_rows .media_row img {
    height: 100%;
    width: 100%;
}
.media_rows .media_row .media_row_delete {
    background: none repeat scroll 0 0 #fff;
    color: #dadada;
    left: 2px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 0 #000000;
    width: 19px;
}

.media_row label {
    background: none repeat scroll 0 0 #555555;
    color: #ccc;
    float: left;
    height: 43px;
    margin-top: -43px;
    opacity: 0.81;
    overflow: hidden;
    padding: 0 3px;
    width: 100%;
    word-wrap: break-word;
}

.img-rounded{
    width: 50px !important;
}

.img-circle{
    width:35%
}

.profile-element{
    text-align:center
}

.arrow {
  float: right;
}


.panel-body .panel {
    border: 1px solid #ccc;
    padding: 7px;
}

.input-group-addon {
    border: 1px solid #e5e6e7 !important;
    border-radius: 0 !important;
}

.paging_simple_numbers{
    text-align: left
}

.search_form {
    margin-top: 30px;
}

td.center > a {
    margin: 0 6px;
}

.panel-footer{
    overflow: hidden;
}


.add-media {
  float: right;
  position: absolute;
  right: 6px;
  top: 6px;
}


.change-post-image {
    float: left;
    left: 10px;
    position: relative;
    top: 23px;
}

.media_del {
    color: #adadad;
    left: 5px;
    position: absolute;
}

.tree-views {
    list-style: outside none none;
    padding-right: 0;
    height: 187px;
    overflow-y: scroll;
}

.tree-view, .tree-views   ul{
    list-style: none;
    display: none;
}

.tree-view{
    padding-right: 0px;
}

.tree-row {
    background: #fbfbfb none repeat scroll 0 0;
    margin: 1px 0;
    padding: 4px 0;
}

.tree-view ul .tree-row{
    margin-right:-13px;

}


.tree-row > label {
    margin-right: -2px;
}

.expand {
    background: #e0e0e0 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    float: right;
    font-size: 20px;
    font-weight: bold;
    height: 19px;
    line-height: 12px;
    margin-right: 5px;
    margin-top: 1px;
    padding: 2px;
    text-align: center;
    text-decoration: none !important;
    color: #9b9b9b
}

.switch-row {
    line-height: 27px;
    margin-bottom: 5px;
    overflow: hidden;
}
.switch-row label{
    padding: 0;
    cursor: pointer;
}

.navbar-top-links li {
    margin: 0 2px;
    border: none !important;
}
.navbar-top-links li.active{
    background:#e8e8e8;
    border: 1px solid #e1e1e1 !important
}

.navbar-top-links > li.active > a {
    color: #a0a0a0;
}


.navbar-form-custom {
    margin: 0;
}

.text-left.ltr{
    direction: ltr;
}

.text-right.rtl{
    direction: rtl;

}


.panel-heading i {
    margin: 0 5px;
}

.nav-tabs li.active a{
    background: #f3f3f3;
}

#wpseosnippet .title {
    display: block;
    overflow: hidden;
    width: 512px;
    color: #1E0FBE;
    font-size: 18px !important;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#wpseosnippet .url {
    color: #006621;
    font-size: 13px;
    line-height: 16px;
}
#wpseosnippet .desc {
    font-size: small;
    line-height: 1.4;
    word-wrap: break-word;
}
.good {
    color: #008000;
}
.good, .warn, .wrong {
    font-weight: 700;
}
.wrong {
    color: #F00;
}
table.wpseoanalysis td.score {
    width: 20px;
    height: 18px;
    padding-left: 10px;
}
.wpseo-score-icon.bad {
    background-color: #DD3D36;
}
.wpseo-score-icon.ok {
    background-color: #FFBA00;
}
.wpseo-score-icon.good {
    background-color: #7AD03A;
}
.wpseo-score-icon.poor {
    background-color: #EE7C1B;
}
.wpseo-score-icon.noindex {
    background-color: #1E8CBE;
}
.wpseo-score-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 3px 10px 0px 3px;
    background: #888 none repeat scroll 0% 0%;
    vertical-align: top;
    border-radius: 50%;
}
.wpseo_msg {
    margin: 5px 0px 10px;
    padding: 0px 5px;
    border: 1px solid #E6DB55;
    background-color: #FFFFE0;
}
.form-table td p {
    margin: 0 !important;
}

#overlay { 
    position:fixed;
    opacity:0.5;
    z-index:1100; 
    width: 100%;
    height: 100%;
    background-color:#000;
    display: none;
}
#loading {

    position:fixed;
    //left:50%;
    //top:-100px;
    top:50%;
    left:50%;
    z-index:1100;
}


.nav-tabs > li {

  margin-right: 5px;
  margin-left: 5px;
}

.file-box {
  height: 198px;
}

    .input-group.date.datepick {
        float: left;
        margin-right: 3px;
        width: 140px;
    }